.tooltip {
    position: absolute;
    display: none;
    border:#000000 1px solid;
    background: linear-gradient( rgb(255, 255, 255) 60%, rgb(205, 205, 205) 40%);
    width: 230px;
    height: auto;
    color: #333;
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    z-index: 999;
    position: absolute;
}
.table {
    width: 70%;
    margin: 20px;
    border: 2px solid #000000;
    border-collapse: collapse; 
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 2px solid #dddddd;
}
.table td {
    border: 2px solid #000000;
    padding: 5px;
}